language: php
php:
  - 7.4
  - 7.3
  - 7.2
  - 7.1
  - 7.0
  - 5.6
  - hhvm-3.30
  - nightly

before_script:
  - composer install

script:
  - ./vendor/bin/phpcs
  - ./vendor/bin/phpunit

after_script:
  - ./vendor/bin/php-coveralls -v

matrix:
  allow_failures:
    - php: hhvm-3.30
    - php: nightly
