<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="Textile Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist>
            <file>classTextile.php</file>
        </whitelist>
    </filter>
</phpunit>
