{% extends "base.twig" %}
{% block header %}
    <div class="masthead">
        <h1><a title="Humane web text generator" href="http://txstyle.org/">Textile</a> markup language parser for PHP</h1>
        <div class="code">
            <p class="caption">Install PHP-Textile v{{ site.php_textile_version_minor }}.x to your project using Composer</p>
            <pre><i class="fa fa-terminal"></i> <code>composer require netcarver/textile:{{ site.php_textile_version_minor }}.*</code></pre>
        </div>
    </div>
{% endblock %}
