{% extends "base.twig" %}
{% block header %}
    <div class="masthead">
        <h1><a title="{{ site.textile_slogan }}" href="{{ site.textile_url }}">Textile</a> markup language parser for PHP</h1>
        <div class="code">
            <p class="caption">Install PHP-Textile v{{ site.php_textile_version_minor }}.x to your project using <a title="Composer package manager" href="http://getcomposer.org/">Composer</a></p>
            <pre><i class="fa fa-terminal"></i> <code>composer require netcarver/textile:{{ site.php_textile_version_minor }}.*</code></pre>
            <p class="notes">&hellip;or <a href="#"><i class="fa fa-cloud-download"></i> download zip</a> &mdash; <a href="#">Changelog</a> &mdash; <a href="#">What next?</a></p>
        </div>
    </div>
{% endblock %}
