/**
 * Code display.
 */

code a,
code a:hover {
    color: inherit;
    cursor: help;
    text-decoration: none;
}

pre, code {
    color: #9da8ab;
    font-family: Cousine, "Courier New", Consolas, Courier, monospace;
    font-size: 1em;
}

pre {
    background: #daeffa;
    padding: 1em;
    border: 1px solid #d0e8f0;
    border-radius: 0.25em;
    overflow: auto;
    box-sizing: border-box;
}

pre code {
    background: transparent;
}
