/**
 * Header.
 */

header {
    text-align: center;
    padding: 5.5em 10% 3em 10%;
    box-sizing: border-box;

    h1 {
        margin: 0;

        a,
        a:hover {
            text-decoration: none;
            vertical-align: middle;
        }
    }

    p {
        color: #9da8ab;
        margin: 0;
    }
}
