/**
 * Top navigation bar.
 */

header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.05em 0.2em rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 5;
    padding: 0 10%;

    h1 {
        position: absolute;
        font-size: 1em;
        float: left;
        margin: 0;
        letter-spacing: 0.2em;
    }

    h1, li {
        a {
            text-decoration: none;
            color: inherit;
            font-size: 0.857em;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 4.750;
            display: inline-block;
        }
    }

    ul {
        display: inline-block;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;

            a {
                padding: 0 0.5em;
            }
        }
    }
}
